<%- include('partials/_header') %>

<div class="card text-center">
  <div class="card-header"></div>
  <div class="card-body">
    <h5 class="card-title">TinyURL for: <%= longURL %></h5>
    <p class="card-text">Short URL: <a href="/u/<%= shortURL %>"><%= shortURL %></a></p>
  </div>
  <div class="card-footer text-muted">
    <form action="/urls/<%= shortURL%>" method="POST">
      <h2 class="card-text">Edit</h2>
      <label for="longURL">New URL:</label>
      <input class="edit-input show-input" type="text" name="longURL" value="<%= longURL %>" />
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>
</div>

<%- include('partials/_footer') %>